<!-- MAIN MENU -->
<nav class="bg-blue-700 bg-gradient-to-t from-blue-800 flex pl-32">
    <!-- Dropdowns -->
    <div *ngFor="let item of titleItems" class="group inline-block border-l border-l-blue-400 border-r border-r-blue-300">
        <button class="outline-none focus:outline-none flex items-center text-white px-3 py-2 hover:bg-blue-800 transition duration-150 ease-in-out">
          <span>{{item}}</span>
          <span class="ml-1">
            <svg class="fill-current h-4 w-4 transform group-hover:-rotate-180 transition duration-150 ease-in-out" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
            </svg>
          </span>
        </button>
        <ul class="bg-white border rounded-sm transform scale-0 group-hover:scale-100 absolute transition duration-150 ease-in-out origin-top cursor-pointer min-w-32">
            <li class="rounded-sm px-3 py-1 hover:bg-gray-100 border-b border-b-gray-200">Item 1</li>
            <li class="rounded-sm px-3 py-1 hover:bg-gray-100 border-b border-b-gray-200">Item 2</li>
            <li class="rounded-sm px-3 py-1 hover:bg-gray-100">Item 3</li>
        </ul>
    </div>
</nav>
