<div class="bg-blue-700 bg-gradient-to-t from-blue-800 flex">
    <ul class="flex ml-10">
        <li *ngFor="let item of titleItems" class="p-2 border-l border-l-blue-400 border-r border-r-blue-300 text-white">
            <a href="#" class="flex items-center">{{item}}
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down ml-1" width="14" height="14" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <polyline points="6 9 12 15 18 9" />
              </svg>
            </a>
        </li>
    </ul>
</div>